<script type='text/javascript'>metadata ={{{dump datasource_config}}};</script>

<script id="item-template" type="text/x-handlebars-template">
    <li class="layout_block">
        <div class="grid_header">
		<span class="grid_header_controls"> <a class="show-widget-pref" data-collapse="true"><i
                class="icon-cog"></i></a> <a class="expand-widget"><i class="icon-resize-full"></i></a> <a
                class="shrink-widget"><i class="icon-resize-small"></i></a> <a class="close-widget" href="#"><i
                class="icon-remove"></i></a> </span>
        </div>
        <div class="gadget-pref-cont">

        </div>
        <!--
        <div class="designer-placeholder">

        </div>-->

        <div class="add-gadget-item">

        </div>
        <div class="gadget-add-btn-cont">
            <button class="btn btn-add-gadget-new" data-toggle="tooltip" title="Create new Gadget">
                <i class="icon icon-pencil"></i>
            </button>
            <button class="btn btn-add-gadget-existing" data-toggle="tooltip" title="Add existing Gadget">
                <i class="icon icon-bar-chart"></i>
            </button>
        </div>
    </li>
</script>

<script id="item-template-blank" type="text/x-handlebars-template">
    <li class="layout_block">

        <div class="add-gadget-item">

        </div>

    </li>
</script>

<script id="create-new-connection-other" type="text/x-handlebars-template">
    <div class="row-fluid">
        <div class="span6 offset3 form-horizontal">
            [[#each createConnection]]
            <div class="control-group">
                <label class="control-label">[[this.label]]</label>

                <div class="controls">
                    <input name="[[this.label]]" type="[[this.type]]" class="required"/>
                </div>
            </div>
            [[/each]]
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-validateCon">
                        Validate Connection
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="create-new-connection-rdbms" type="text/x-handlebars-template">
    <div class="row-fluid">
        <div class="span6 offset3 form-horizontal">

            <div class="control-group">
                <label class="control-label">Connection</label>


                <div class="controls">
                    <select name="dataSourceNames" class="span12">
                        [[#each dataSourceNames]]
                        <option>[[this]]</option>
                        [[/each]]
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-validateCon">
                        Validate Connection
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="sql-query-editor" type="text/x-handlebars-template">
    <div>
        <div class="row-fluid">
            <div class="span12 well">
                [[#each sqlEditor]]
                <div class="control-group">
                    <label class="control-label">[[this.label]]</label>

                    <textarea name="[[this.label]]" class="inp-query span12 required" rows="2"/>
                    </textarea>
                    <button class="btn btn-execQuery pull-right">
                        Run
                    </button>

                </div>
                [[/each]]

            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="sql-editor-dataset" class="span8 offset2"></div>
    </div>
</script>

<script id="sql-query-table" type="text/x-handlebars-template">
    [[#if error]]
    <div class=".alert-block alert-error">
        [[message]]
    </div>
    [[else]]
    <h4>Query Results</h4>
    <table class="table table-bordered table-queryPreview">
        [[#each tableHeaders]]
        <th>[[this]]</th>
        [[/each]]

        [[#each tableRows]]
        <tr>
            [[#each .]]
            <td>[[this]]</td>
            [[/each]]
        </tr>
        [[/each]]
    </table>
    [[/if]]
</script>

<script id="gadgetPreviewPlaceholder" type="text/x-handlebars-template">
    <div id="gadget-preview-placeholder">
        <p class="muted">
            Map data for the gadget and click on <strong>Preview</strong> to render the gadget preview here
        </p>
    </div>
</script>
<script id="data-mapping" type="text/x-handlebars-template">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Series Label</label>

            <div class="controls">
                <input name="seriesLabel[[id]]" type="text" class="span12"/>
            </div>
        </div>

        [[#each dataColumns]]

        <div class="control-group">
            <label class="control-label">[[this]]</label>

            <div class="controls">
                <select name="[[this]]" class="span12">
                    [[#each ../columnHeaders]]
                    <option>[[this]]</option>
                    [[/each]]
                </select>
            </div>
        </div>
        [[/each]]
    </div>
</script>

<script id="data-mapping-extension" type="text/x-handlebars-template">
    <div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Chosen Gadget Type</label>

                <div class="controls">
                    <label class="control-label">[[gadget_type]]</label>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Chart Title</label>

                <div class="controls">
                    <input name="chartTitle" type="text" id="chart-title-input" class="span12 alphanumeric"/>
                </div>
            </div>
        </div>
        <div class="form-horizontal" id="data-labels">
            [[#each dataLabels]]
            <div class="control-group">
                <label class="control-label">[[this]]</label>

                <div class="controls">
                    <input name="[[this]]" type="text" class="span12"/>
                </div>
            </div>
            [[/each]]
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Update Interval (s)</label>

                <div class="controls">
                    <input name="updateInterval" type="text" id="refresh-sequence-input" class="span12"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="time-series-extension" type="text/x-handlebars-template">
    <div class="form-horizontal">
        [[#if timeSeries]]
            <div class="control-group">
                <label class="control-label">Time Series Chart</label>

                <div class="controls">
                    <input type="checkbox" id="time-series">
                </div>
            </div>
        [[/if]]
    </div>
</script>

<input type="hidden" value="{{mode}}" id="inp-view-mode"/>
<input type="hidden" value="{{dashboard}}" id="inp-dashboard"/>

<div id="gridster-cont" class="container-fluid">
    <span id="dashboardName"></span>

    <div class="layouts_grid" id="layouts_grid">
        <input type="hidden" id="inp-layout" value="{{layout}}">

        <div style="display: none" class="alert-bar"></div>
        <ul>
            <div id="grid-guides"></div>
            <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" class="layout_block static">
                static
            </li>
            <li data-row="1" data-col="3" data-sizex="2" data-sizey="1" class="layout_block static">
                static
            </li>
            <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" class="layout_block static">
                static
            </li>
            <li data-row="1" data-col="6" data-sizex="1" data-sizey="1" class="layout_block static">
                static
            </li>
        </ul>
    </div>

</div>
<!-- /container -->

<!-- Modal -->
<div id="modal-publish" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>
        </button>
        <h3 id="myModalLabel">{{t "Publish Page"}}</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-block">

            <p>
                You are about to publish the page titled 'My Nice Page' to the Store. Best check yo self, you're not
                looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel
                scelerisque nisl consectetur et.
            </p>
        </div>
        <div>
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Property 1</label>

                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Property 1">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Property 2</label>

                    <div class="controls">
                        <input type="password" id="inputPassword" placeholder="Propery 2">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox">
                            {{t "Check this please"}} </label>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <button class="btn btn-primary">
            {{t "Publish"}}
        </button>
    </div>
</div>

<!-- Modal -->
<div id="modal-new-dir" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inp-title">{{t "Enter new directory name"}}</label>

                <div class="controls">
                    <input type="text" id="inp-title" class="input-xlarge">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btn-new-site" class="btn btn-primary">
            {{t "Create directory"}}
        </button>
    </div>
</div>

<!-- Modal -->
<div id="modal-add-gadget-wizard" class="modal modal-add-gadget hide fade" tabindex="-1" role="dialog"
     aria-labelledby="publishModalLabel"
     aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>
        </button>
        <h3>Add Gadget</h3>
    </div>
    <div class="modal-body">
        <form id="form-wizard">
            <div id="wizard-add-gadget">
                <h3>Select Data Source</h3>
                <section>
                    <div>
                        <div class="row-fluid">
                            {{#each datasource_config.dataSources}}
                                <div class="span4">
                                    <a href="#" class="wizard-dsType" data-dsType="{{dataSource}}"> <i
                                            class="wizard-icon {{icon}}"></i>
                                        <br>

                                        <p>
                                            <strong>{{dataSource}}</strong>
                                        </p></a>
                                </div>
                            {{/each}}
                            <div style="position:absolute; left:-999em">
                                <input type="text" class="required" name="wizard-dsTypeSel" id="wizard-dsTypeSel"
                                       value="">
                            </div>
                        </div>
                    </div>
                </section>

                <h3>Configure Data Source</h3>
                <section>

                </section>

                <h3>Select Dataset</h3>
                <section>

                </section>

                <h3>Select a Gadget</h3>
                <section>
                    <div id="store-gadget-div"></div>
                </section>

                <h3>Preview</h3>
                <section>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="data-mapping-btns">
                                <div class="form-inline">

                                    <button class="btn" id="mapping-add-series-btn">
                                        <i class="icon icon-plus"></i> Add Series
                                    </button>
                                    <button class="btn" id="mapping-remove-series-btn">
                                        <i class="icon icon-minus"></i> Remove Series
                                    </button>
                                    <button class="btn btn-primary pull-right" id="btn-preview-gadget">
                                        Preview
                                    </button>

                                </div>
                            </div>

                            <div class="data-mapping-cont">
                                <div id="modal-data-mapping-extension-space"></div>
                                <div id="modal-time-series-extension-space"></div>
                                <hr>
                                <div id="modal-data-mapping"></div>
                            </div>

                        </div>
                        <div class="span6 preview-cont">
                            <div class="gadget-preview-loader" style="display: none">
                                <div>
                                    <i class="icon icon-refresh icon-spin"></i>
                                    <br>

                                    <p>
                                        <small>Loading preview</small>
                                    </p>
                                </div>
                            </div>
                            <div id="gadget-preview">
                                <div id="gadget-preview-placeholder">
                                    <p class="muted">
                                        Map data for the gadget and click on <strong>Preview</strong> to render the
                                        gadget preview
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="wizard-add-gadget-btn-prev" class="btn btn-primary btn-large disabled">
            Previous
        </button>
        <button id="wizard-add-gadget-btn-next" class="btn btn-primary btn-large">
            Next
        </button>
        <button id="wizard-add-gadget-btn-finish" class="btn btn-primary btn-large" style="display:none">
            Finish
        </button>
    </div>
</div>

<!-- Modal -->
<div id="modal-add-gadget-existing" class="modal modal-add-gadget hide fade" tabindex="-1" role="dialog"
     aria-labelledby="publishModalLabel"
     aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>
        </button>
        <h3>Add existing Gadget</h3>
    </div>
    <div class="modal-body">

        <div id="store-gadget-cont">

            <div id="store-gadget-div2"></div>

        </div>

    </div>
    <div class="modal-footer">

        <button id="btn-add-gadget-existing" class="btn btn-primary btn-large">
            Add Gadget
        </button>
    </div>
</div>

