<%
var user = require('store').server.current(session);
if (!user) {
response.sendRedirect('/{{appName}}/login');
}
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Dashboard | User Engagement Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <!-- Le styles -->
    <!-- END imports needed for gadget rendering -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/font-awesome-ie7.min.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/navigation.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.gridster.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/portal-dashboard-designer.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/portal/themes/portal/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">


</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

            <a class="brand" href="#"></a>


            <div class="nav-collapse collapse">
                <ul class="nav pull-right">

                    <li class="nav-separator">

                        <a href="/store?user=<%=session.get('LOGGED_IN_USER')%>" target="_blank"><i
                                class="icon-shopping-cart"></i> Store</a>

                    </li>


                    <li>

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> <%=
                            session.get("LOGGED_IN_USER") %> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-account" role="menu" aria-labelledby="dLabel">
                            <li>


                                <a href="/{{appName}}/logout.jag"><i class="icon-signout"></i> Sign out</a>


                            </li>

                        </ul>

                    </li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="navbar-inner sub-navbar-designer">

        <div class="container-fluid">

            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

            <div class="row-fluid">

                <div class="span5">
                    <input id="inp-designer-title" type="text" value="{{title}}">
                </div>
                <div class="span7">
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">

                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-plus"></i> Add
                                    Block <b class="caret"></b></a>
                                <ul class="dropdown-menu dropdown-share">
                                    <form>
                                        <li>
                                            <h4>Define gadget size in grid</h4>

                                        </li>
                                        <li>

                                            <div id="dummy-gadget-wrapper">
                                                <div id="dummy-gadget-container" class="ui-widget-content">
                                                    <div id="dummy-gadget" class="ui-widget-content">
                                                        <div id="dummy-size">
                                                            1x1
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <button id="btn-add-dummy-gadget" class="btn btn-primary">
                                                Add Empty Block
                                            </button>
                                        </li>
                                    </form>
                                </ul>

                            </li>

                            <li id="btn-save">
                                <a href="#"><i class="icon-save"></i> Save</a>
                            </li>
                            <li>
                                <a id="btn-exit-editor" href="#"><i class="icon-signout"></i> Exit Editor</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="navbar-inner sub-navbar-designer-view">

        <div class="container-fluid">

            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

            <div class="row-fluid">

                <div class="span5">

                </div>
                <div class="span7">
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">

                            <li class="li-edit-dashboard">
                                <a href="#" id="btn-exit-view" data-toggle="dropdown"
                                   class="dropdown-toggle float-left-link"><i class="icon-magic"></i> Personalize</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--/.nav-collapse -->
        </div>
    </div>


</div>


<div class="container-fluid">

    <div class="row-fluid">

        <div class="span12">
            <input type="hidden" value="design" id="inp-view-mode"/>
            <input type="hidden" value="{{appName}}" id="inp-dashboard"/>
            <iframe style="display: none;height: 0;width: 0;"
                    src="{{httpServerUrl}}/store/hidden-logger.jag?user=<%=session.get('LOGGED_IN_USER')%>"></iframe>

            <div id="gridster-cont" class="container-fluid">
                <div id="dashboardName"><i class="icon-th-large"></i> <span></span></div>
                <div class="layouts_grid" id="layouts_grid">
                    <input type="hidden" id="inp-layout" value="grid">
                    <ul>
                        <div id="grid-guides"></div>

                        {{#each widgets}}       
                            <li class="layout_block {{wclass}}" data-sizey="{{height}}" data-sizex="{{width}}"
                                data-col="{{x}}" data-row="{{y}}"
                                data-url="{{url}}" data-wid="{{wid}}" data-prefs="{{prefs}}" data-title="{{title}}">
                                <div class="grid_header">
                                    <div id="header_label"><h3>{{title}}</h3></div>
                                    <div id="gadget_title_div"><input class="gadget-title-txt"></div>
            		<span class="grid_header_controls">
                		<a class="show-widget-pref" data-collapse="true"><i class="icon-cog"></i></a>
                		<a class="expand-widget"><i class="icon-resize-full"></i></a>
                		<a class="shrink-widget"><i class="icon-resize-small"></i></a>
                		<a class="close-widget" href="#"><i class="icon-remove"></i></a>
            		</span>
                                </div>
                                <div class="gadget-pref-cont">

                                </div>
                                {{#unless wclass}}

                                    <div class="add-gadget-item">

                                    </div>
                                {{/unless}}
                                {{#unless url}}
									<div class="gadget-add-btn-cont">
										<button class="btn btn-add-gadget-new" data-toggle="tooltip" title="Create new Gadget">
											<i class="icon icon-pencil"></i>
										</button>
										<button class="btn btn-add-gadget-existing" data-toggle="tooltip" title="Add existing Gadget">
											<i class="icon icon-bar-chart"></i>
										</button>
									</div>
                                {{/unless}}
                            </li>
                        {{/each}}
                    </ul>
                </div>

            </div>
            <!-- /container -->
        </div>

    </div>

</div>

<!--------------------------------------- start gadget-gen-ui---------------------------------------------->

<!-- Modal -->
<div id="modal-add-gadget-wizard" class="modal modal-add-gadget hide fade" tabindex="-1" role="dialog"
aria-labelledby="publishModalLabel"
aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			<i class="icon-remove"></i>
		</button>
		<h3>Add Gadget</h3>
	</div>
	<div class="modal-body">
		<form id="form-wizard">
			<div id="wizard-add-gadget">
				<h3>Select Data Source</h3>
				<section>
					
				</section>

				<h3>Configure Data Source</h3>
				<section>

				</section>

				<h3>Select Dataset</h3>
				<section>

				</section>

				<h3>Select a Gadget</h3>
				<section>
					<div id="store-gadget-div"></div>
				</section>

				<h3>Preview</h3>
				<section>
					<div class="row-fluid">
						<div class="span6">
							<div class="data-mapping-btns">
								<div class="form-inline">

									<button class="btn" id="mapping-add-series-btn">
										<i class="icon icon-plus"></i> Add Series
									</button>
									<button class="btn" id="mapping-remove-series-btn">
										<i class="icon icon-minus"></i> Remove Series
									</button>
									<button class="btn btn-primary pull-right" id="btn-preview-gadget">
										Preview
									</button>

								</div>
							</div>

							<div class="data-mapping-cont">
								<div id="modal-data-mapping-extension-space"></div>
                                <div id="modal-time-series-extension-space"></div>
								<hr>
								<div id="modal-data-mapping"></div>
							</div>

						</div>
						<div class="span6 preview-cont">
							<div class="gadget-preview-loader" style="display: none">
								<div>
									<i class="icon icon-refresh icon-spin"></i>
									<br>

									<p>
										<small>Loading preview</small>
									</p>
								</div>
							</div>
							<div id="gadget-preview">
								<div id="gadget-preview-placeholder">
									<p class="muted">
										Map data for the gadget and click on <strong>Preview</strong> to render the
										gadget preview
									</p>
								</div>
							</div>
						</div>
					</div>

				</section>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button id="wizard-add-gadget-btn-prev" class="btn btn-primary btn-large disabled">
			Previous
		</button>
		<button id="wizard-add-gadget-btn-next" class="btn btn-primary btn-large">
			Next
		</button>
		<button id="wizard-add-gadget-btn-finish" class="btn btn-primary btn-large" style="display:none">
			Finish
		</button>
	</div>
</div>
<!--------------------------------end of the gadget-gen-ui--------------------------------------------->
 
<!-- Modal -->
<div id="modal-add-gadget-existing" class="modal modal-add-gadget hide fade" tabindex="-1" role="dialog"
aria-labelledby="publishModalLabel"
aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			<i class="icon-remove"></i>
		</button>
		<h3>Add existing Gadget</h3>
	</div>
	<div class="modal-body">

		<div id="store-gadget-cont">

			<div id="store-gadget-div2"></div>

		</div>

	</div>
	<div class="modal-footer">

		<button id="btn-add-gadget-existing" class="btn btn-primary btn-large">
			Add Gadget
		</button>
	</div>
</div>

<script id="item-template" type="text/x-handlebars-template">
<li class="layout_block">
	<div class="grid_header">
		<span class="grid_header_controls"> <a class="show-widget-pref" data-collapse="true"><i
			class="icon-cog"></i></a> <a class="expand-widget"><i class="icon-resize-full"></i></a> <a
			class="shrink-widget"><i class="icon-resize-small"></i></a> <a class="close-widget" href="#"><i
			class="icon-remove"></i></a> </span>
	</div>
	<div class="gadget-pref-cont">
	</div>
	<div class="add-gadget-item">
	</div>
	<div class="gadget-add-btn-cont">
		<button class="btn btn-add-gadget-new" data-toggle="tooltip" title="Create new Gadget">
			<i class="icon icon-pencil"></i>
		</button>
		<button class="btn btn-add-gadget-existing" data-toggle="tooltip" title="Add existing Gadget">
			<i class="icon icon-bar-chart"></i>
		</button>
	</div>
</li>
</script>


<script id="widget-template" type="text/x-handlebars-template">
    <li class="layout_block">
        <div class="grid_header">
            <input class="gadget-title-txt">
            <span class="grid_header_controls">
                <a class="show-widget-pref" data-collapse="true"><i class="icon-cog"></i></a>
                <a class="expand-widget"><i class="icon-resize-full"></i></a>
                <a class="shrink-widget"><i class="icon-resize-small"></i></a>
                <a class="close-widget" href="#"><i class="icon-remove"></i></a>
            </span>
        </div>
        <div class="gadget-pref-cont">
        </div>
        <div class="add-gadget-item">
        </div>
        <div class="gadget-add-btn-cont">
			<button class="btn btn-add-gadget-new" data-toggle="tooltip" title="Create new Gadget">
				<i class="icon icon-pencil"></i>
			</button>
			<button class="btn btn-add-gadget-existing" data-toggle="tooltip" title="Add existing Gadget">
				<i class="icon icon-bar-chart"></i>
			</button>
		</div>

    </li>
</script>

<script id="widget-template2" type="text/x-handlebars-template">
    <li class="layout_block" data-wid="{{wid}}" data-url="{{url}}" data-prefs="{{prefs}}">
        <div class="grid_header">
            <input class="gadget-title-txt">
            <span class="grid_header_controls">
                <a class="show-widget-pref" data-collapse="true"><i class="icon-cog"></i></a>
                <a class="expand-widget"><i class="icon-resize-full"></i></a>
                <a class="shrink-widget"><i class="icon-resize-small"></i></a>
                <a class="close-widget" href="#"><i class="icon-remove"></i></a>
            </span>
        </div>
        <div class="gadget-pref-cont">

        </div>
        <div class="add-gadget-item">

        </div>

    </li>
</script>
<!--
<script id="widget-template-blank2" type="text/x-handlebars-template">
    <li class="layout_block" data-url="{{url}}" data-row="{{y}}" data-col="{{x}}" data-sizex="{{width}}"
        data-sizey="{{height}}" data-wid="{{wid}}" data-prefs="{{prefs}}">
        <div class="grid_header">
            <input class="gadget-title-txt">
            <span class="grid_header_controls">
                <a class="show-widget-pref" data-collapse="true"><i class="icon-cog"></i></a>
                <a class="expand-widget"><i class="icon-resize-full"></i></a>
                <a class="shrink-widget"><i class="icon-resize-small"></i></a>
                <a class="close-widget" href="#"><i class="icon-remove"></i></a>
            </span>
        </div>
        <div class="gadget-pref-cont">

        </div>
        <div class="add-gadget-item">

        </div>
    </li>
</script>
-->

<script id="select-data-source" type="text/x-handlebars-template">
    <div>
        <div class="row-fluid">
            [[#each dataSource]]
            <div class="span4">
                <a href="#" class="wizard-dsType" data-dsType="[[this.dataSource]]"> <i
                        class="wizard-icon [[this.icon]]"></i>
                    <br>

                    <p>
                        <strong>[[this.dataSource]]</strong>
                    </p></a>
            </div>
            [[/each]]
            <div style="position:absolute; left:-999em">
                <input type="text" class="required" name="wizard-dsTypeSel" id="wizard-dsTypeSel"
                       value="">
            </div>
        </div>
    </div>
</script>

<script id="create-new-connection-other" type="text/x-handlebars-template">
    <div class="row-fluid">
        <div class="span6 offset3 form-horizontal">
            [[#each createConnection]]
            <div class="control-group">
                <label class="control-label">[[this.label]]</label>

                <div class="controls">
                    <input name="[[this.label]]" type="[[this.type]]" class="required"/>
                </div>
            </div>
            [[/each]]
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-validateCon">
						Validate Connection
					</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="create-new-connection-rdbms" type="text/x-handlebars-template">
    <div class="row-fluid">
        <div class="span6 offset3 form-horizontal">

            <div class="control-group">
                <label class="control-label">Connection</label>


                <div class="controls">
                    <select name="dataSourceNames" class="span12">
                        [[#each dataSourceNames]]
                        <option>[[this]]</option>
                        [[/each]]
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-validateCon">
                        Validate Connection
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="sql-query-editor" type="text/x-handlebars-template">
    <div>
        <div class="row-fluid">
            <div class="span12 well">
                [[#each sqlEditor]]
                <div class="control-group">
                    <label class="control-label">[[this.label]]</label>

                    <textarea name="[[this.label]]" class="inp-query span12 required" rows="2"/>
                    </textarea>
                    <button class="btn btn-execQuery pull-right">
                        Run
                    </button>

                </div>
                [[/each]]

            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="sql-editor-dataset" class="span8 offset2"></div>
    </div>
</script>

<script id="sql-query-table" type="text/x-handlebars-template">
    [[#if error]]
    <div class=".alert-block alert-error">
        [[message]]
    </div>
    [[else]]
    <h4>Query Results</h4>
    <table class="table table-bordered table-queryPreview">
        [[#each tableHeaders]]
        <th>[[this]]</th>
        [[/each]]

        [[#each tableRows]]
        <tr>
            [[#each .]]
            <td>[[this]]</td>
            [[/each]]
        </tr>
        [[/each]]
    </table>
    [[/if]]
</script>

<script id="gadgetPreviewPlaceholder" type="text/x-handlebars-template">
    <div id="gadget-preview-placeholder">
        <p class="muted">Map data for the gadget and click on <strong>Preview</strong> to render the gadget preview</p>
    </div>
</script>

<script id="data-mapping" type="text/x-handlebars-template">

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Series Label</label>

            <div class="controls">
                <input name="seriesLabel[[id]]" type="text" class="span12"/>
            </div>
        </div>

        [[#each dataColumns]]

        <div class="control-group">
            <label class="control-label">[[this]]</label>

            <div class="controls">
                <select name="[[this]]" class="span12">
                    [[#each ../columnHeaders]]
                    <option>[[this]]</option>
                    [[/each]]
                </select>
            </div>
        </div>
        [[/each]]
    </div>
</script>

<script id="data-mapping-extension" type="text/x-handlebars-template">
    <div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Chosen Gadget Type</label>

                <div class="controls">
                    <label class="control-label">[[gadget_type]]</label>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Chart Title</label>

                <div class="controls">
                    <input name="chartTitle" type="text" id="chart-title-input" class="span12 alphanumeric"/>
                </div>
            </div>
        </div>
        <div class="form-horizontal" id="data-labels">
            [[#each dataLabels]]
            <div class="control-group">
                <label class="control-label">[[this]]</label>

                <div class="controls">
                    <input name="[[this]]" type="text" class="span12"/>
                </div>
            </div>
            [[/each]]
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Update Interval (s)</label>

                <div class="controls">
                    <input name="updateInterval" type="text" id="refresh-sequence-input" class="span12"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="time-series-extension" type="text/x-handlebars-template">
    <div class="form-horizontal">
        [[#if timeSeries]]
        <div class="control-group">
            <label class="control-label">Time Series Chart</label>

            <div class="controls">
                <input type="checkbox" id="time-series">
            </div>
        </div>
        [[/if]]
    </div>
</script>


<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/navigation.js"></script>
<script src="js/jquery-ui-1.10.1.custom.min.js"></script>
<script src="js/jquery.gridster.with-extras.min.js"></script>
<script src="js/handlebars.js"></script>
<script src="js/shindig.js"></script>
<script>
	var caramel = caramel || {}; caramel.context = "/{{appName}}"; caramel.url = function (path) { return this.context + (path.charAt(0) !== '/' ? '/' : '') + path; };
	var portalGadgets = {};	portalGadgets.gadgetTemplates = "{{showGadgetTemplates}}";	portalGadgets.store = "{{showAssetGadget}}";
</script>
<script src="js/UESContainer.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/jquery.steps.js"></script>
<script src="js/portal-dashboard-designer.js"></script>
<script src="js/caramel-client.js"></script>
</body>
</html>
